.container-5{
    background-image: url(https://us.123rf.com/450wm/kurkalukas/kurkalukas1711/kurkalukas171100001/89106800-vector-poker-black-background-playing-card-symbols-pattern-blackjack.jpg?ver=6);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    background-image: url(https://us.123rf.com/450wm/kurkalukas/kurkalukas1711/kurkalukas171100001/89106800-vector-poker-black-background-playing-card-symbols-pattern-blackjack.jpg?ver=6);
    color: whitesmoke;
}

.flex-blackjack-row-1 div {
    flex: 1;
    padding: 10px;
    height: 350px;
    border: 1px solid black;
    text-align: center;
}


.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button {
    padding: 10px;
}

.flex-blackjack-row-2 div {
    padding: 10px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}
 
h3{
    color: whitesmoke;
}
